<div class="container">
  <header>
    <div>
      <h2 align="center" class="header">My Overtime Records</h2>
    </div>
  </header>
  <body class="jumbotron">
    <div align="right">
      Add your overtime:
      <input type="text" placeholder="Overtime Hours" class="input" [(ngModel)]="form.recentlyAddedOvertime">
      <input type="date" placeholder="Overtime Date" class="input" [(ngModel)]="form.overtimeDate" (keydown.enter)="addOvertime()">
      <button class="btn btn-primary" (click)="addOvertime()" >
        Add
      </button>
    </div>
    <div>
      <table>
        <tr>
          <th>Id</th>
          <th>Add date</th>
          <th>Balance</th>
          <th>Recently Add Overtime</th>
          <th>Overtime Date</th>
        </tr>
        <tr *ngFor="let overtime of overtimes; let i=index">
          <td>{{i+1}}</td>
          <td>{{overtime.dateAdd}}</td>
          <td>{{overtime.balance}}</td>
          <td>{{overtime.recentlyAddedOvertime}}</td>
          <td>{{overtime.overtimeDate}}</td>
        </tr>
      </table>
    </div>
  </body>
</div>
