<div class="container">
  <header>
    <div>
      <h2 align="center" class="header">All Users</h2>
    </div>
  </header>
  <div class="jumbotron">
    <div *ngIf="users.length>0">
      <div *ngFor="let user of users; let i=index">
        <div class="border-1">
          <input type="checkbox" class="border" id="search-post-{{i}}">

          <ul class="title-border">Username: {{user.username}}
            <li class="read-more-target">Id: {{user.id}}</li>
            <li class="read-more-target">FirstName: {{user.firstName}}</li>
            <li class="read-more-target">LastName: {{user.lastName}}</li>
            <li class="read-more-target">Email: {{user.email}}</li>
          </ul>

          <label for="search-post-{{i}}" class="read-more-trigger"></label>
        </div>
      </div>
    </div>
</div>
</div>
