.border{
  display: none;
  border: inset;
  border-color: black;
}
.border-1{
  border: ridge;
  border-color: black;
  border-width: 1px;
}
.title-border{
  border: solid;
  border-radius: 1px;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.border:checked ~ .title-border .read-more-target{
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
.border ~ .read-more-trigger:before {
  content: 'Show user';
}

.border:checked ~ .read-more-trigger:before {
  content: 'Hide user';
}
.header{
  margin: 10px;
}
