<div class="container">
  <div class="jumbotron">
    <div>
      <header>
        <div>
          <h2 align="center" class="header">All users overtime</h2>
        </div>
      </header>
      <div>
        <div align="right">
          Add your overtime:
          <input type="text" placeholder="Search user" class="input" [(ngModel)]="username">
          <button class="btn btn-primary" (click)="searchUser()">
            Search user
          </button>
        </div>
        <table>
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Add date</th>
            <th>Balance</th>
            <th>Recently Add Overtime</th>
            <th>Overtime Date</th>
          </tr>
          <tr *ngFor="let overtime of overtimes; let i=index">
            <td>{{i + 1}}</td>
            <td>{{overtime.username}}</td>
            <td>{{overtime.dateAdd}}</td>
            <td>{{overtime.balance}}</td>
            <td>{{overtime.recentlyAddedOvertime}}</td>
            <td>{{overtime.overtimeDate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
