table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
th,td{
  padding: 15px;
  text-align: center;
}
table{
  width: 100%;
  border-spacing: 5px;
}
.input{
  margin: 10px;
}
.header{
  margin: 10px;
}
.btn-primary{
  margin: 10px;
  align-content: center;
}
