<div class="container">
  <div align="right">
    <div class="image">
      <div class="inline-block">
        <a target="_blank" href="https://www.linkedin.com/in/daniel-pragacz-2a24bb17b/">
          <img src="../../assets/img/li.jpg"
               class="profile-img-card"
               id="linked-in"></a>
        <a target="_blank" href="https://www.linkedin.com/in/daniel-pragacz-2a24bb17b/">
          <img src="../../assets/img/bitbucket.jpg"
               class="profile-img-card"
               id="bitbucket"></a>
        <a target="_blank" href="https://github.com/pragaczd">
          <img src="../../assets/img/github-mark-2.jpg"
               class="profile-img-card"
               id="github"></a>
      </div>
    </div>
  </div>
  <header class="jumbotron">
    <h5 *ngIf="isLoggedIn" align="center">Welcome in overtime application!</h5>
    <h5 *ngIf="!isLoggedIn" align="center">Welcome in overtime application! Please sign-up or login!</h5>
  </header>
</div>
