<div *ngIf="currentFile" class="progress" id="loader">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    Upload status: {{ progress }}%
  </div>
</div>
<div class="container">
  <body class="jumbotron">
  <div class="box">
    <div>
      <div align="left" id="user-data">
        <h4 id="last-name">{{userData.lastName}} </h4>
        <h4 id="first-name">{{userData.firstName}}</h4>
        <p id="position">{{userData.position}}</p>
      </div>
      <div>
        <div *ngIf="userData.description === null" [contentEditable]="editable" id="description" (input)="description=$event.target.textContent">If you want, click edit button to
          add your description
        </div>
        <div *ngIf="userData.description !== null" [contentEditable]="editable" id="edited-description" (input)="description=$event.target.textContent">{{userData.description}}
        </div>
        <div *ngIf="editable === false" id="edit-button">
          <button class="btn btn-info" (click)="setEditable()">Edit</button>
        </div>
        <div *ngIf="editable !== false" id="save-button">
          <button class="btn btn-success" (click)="saveDescription()">Save</button>
          <div class="alert-success" role="alert" id="edit-alert">Please edit your description, and save!
          </div>
        </div>
      </div>
    </div>
    <div align="right">
      <div class="image-upload">
        <label *ngIf="filePath != '..\\..\\'">
          <img
            id="profile-img"
            src="{{filePath}}"
            class="profile-img-card"
            align="right"
          >
        </label>
        <label *ngIf="filePath === '..\\..\\'">
          <img
            id="profile-img-null"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
            align="right"
          >
        </label>
        <div id="upload">
          <input style="display: none" type="file" (change)="selectFile($event)" #fileInput/>
          <button class="btn btn-primary" type="button" (click)="fileInput.click()">Update Foto</button>
          <button class="btn btn-danger" [disabled]="filePath === '..\\..\\'" (click)="deleteFile()">Delete Foto
          </button>
          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
        </div>
        <div *ngIf="message.length>0" class="alert alert-light" role="alert" id="alert">{{ message }}</div>
      </div>
    </div>
  </div>
  </body>
</div>
