img {
  width: 300px;
  height: 350px;
}

#user-data {
  margin-left: 50px;
}

#description,#edited-description {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin-top: 50px;
  margin-left: 50px;
  width: 600px;
  height: auto;
}

#edit-button {
  margin-top: 10px;
  margin-left: 50px;
}

#save-button {
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
}

#edit-alert {
  margin-left: 10px;
  padding: 5px;
}

#description > #edit-button {
  display: flex;
}

.container {
  height: 100%;
}

.box {
  display: flex;
  justify-content: space-between;
}

#last-name, #first-name {
  font-size: 50px;
  font-weight: bold;
}

#first-name {
  margin-top: 30px;
}

#position {
  margin-left: 2px;
  margin-top: 25px;
}

.image-upload > #upload > #alert {
  display: flex;
  justify-content: space-between;
}

#deleteImage {
  color: red;
}

#alert {
  margin-top: 10px;
  width: 300px;
  text-align: center;
}

#loader, #alert {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: relative;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}

@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}
